<article{{ attributes.addClass('node', 'node--page', 'strategic-page') }}>
  <header class="node__header strategic-page__hero">
    {{ title_prefix }}
    <h1{{ title_attributes.addClass('node__title') }}>{{ label }}</h1>
    {{ title_suffix }}
  </header>

  <div class="node__content strategic-page__content">
    {{ content }}
  </div>
</article>
